<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <!-- ↓↓ NOMBRE ↓↓ -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')"
            >Debe de ser en formato nombre y apellido</span
          >
        </div>
      </div>
      <!-- ↑↑ NOMBRE ↑↑ -->
      <!-- ↓↓ EMAIL ↓↓ -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="emailRequired()"
            >El correo es obligatorio</span
          >
          <span class="form-text text-danger" *ngIf="emailFormato()"
            >El valor ingresado no tiene formato de correo</span
          >
          <span class="form-text text-danger" *ngIf="emailTomado()"
            >El correo ya fue tomado</span
          >
        </div>
      </div>
      <!-- ↑↑ EMAIL ↑↑ -->
      <!-- ↓↓ USERNAME ↓↓ -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre codigo del usuario"
            formControlName="username"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('username')"
            >El username no puede ser strider
          </span>
        </div>
      </div>
      <!-- ↑↑ USERNAME ↑↑ -->
      <!-- ↓↓ PASSWORD ↓↓ -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de la cuenta"
            formControlName="password"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password')"
            >La contraseña debe de ser mayor de 6 caracteres
          </span>
        </div>
      </div>
      <!-- ↑↑ PASSWORD ↑↑ -->
      <!-- ↓↓ PASSWORD2 ↓↓ -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="password2"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password2')"
            >La contraseñas deben de ser iguales
          </span>
        </div>
      </div>
      <!-- ↑↑ PASSWORD2 ↑↑ -->
      <!-- ↓↓ BUTTON ↓↓ -->
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
          >
            Crear
          </button>
        </div>
      </div>
      <!-- ↑↑ BUTTON ↑↑ -->
    </form>
  </div>
</div>

<span class="badge text-bg-success">Form Valid: </span>
<span>{{ miFormulario.valid }}</span>
<span class="badge text-bg-info">Form Status: </span>
<span>{{ miFormulario.status }}</span>
<span class="badge text-bg-danger">Form Pending: </span>
<span>{{ miFormulario.pending }}</span>
<br />
<span class="badge text-bg-warning">Errors</span>
<pre>{{ miFormulario.errors | json }}</pre>
<span class="badge text-bg-secondary">Nombre</span>
<pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>
<span class="badge text-bg-danger">Email</span>
<pre>{{ miFormulario.controls["email"].errors | json }}</pre>
<span class="badge text-bg-primary">Username</span>
<pre>{{ miFormulario.controls["username"].errors | json }}</pre>
<span class="badge text-bg-info">Password</span>
<pre>{{ miFormulario.controls["password"].errors | json }}</pre>
<span class="badge text-bg-info">Confirmar</span>
<pre>{{ miFormulario.controls["password2"].errors | json }}</pre>
